html {
  height: 100%;
  width: 100%;
}

header {
    color: black;
    font-size: 25px;
    font-style: oblique;
    text-align: center;
}

h1 {
    color: blue; 
    text-align: center;
    font-style: italic;
}

p {
    color: black;
    text-align: center;
}

h3 {
    color: blue;
    text-align: center;
}

h4 {
    color: blue;
    text-align: center;
    font-style: italic;
}

footer {
    color: black;
    text-align: center;
}


